//COLORS 
$color-dark:#000000;
$color-dark-2:#17202A;
$color-white:#FFFFFF;
$color-red:#C0392B;
$color-gray:#797D7F;
$color-blue:#3498DB;
$color-pink:#F08080;
$color-purple:#CCCCFF;
$color-dark-blue:#000080;
